<style>

    .template-message { font-size: 18px; font-family: Arial, Helvetica,
    sans-serif; max-width: 600px; line-height: 21px; }

</style>

<div class='template-message'>

    <h1>Olá, {{name}}</h1>
    <h2>Parece que uma troca de senha para sua conta foi requisitada.</h2>
    <p>Caso tenha sido voce clique no link abaixo, ou se não apenas ignore esta
        messagem. Muito Obrigado!</p>
    <a href='{{url}}'>Alterar Minha
        Senha.</a>

    <br>Obrigado! </br>></p>
    <strong>A equipe Gobarber Agradece sua atenção.</strong>
</div>
